<section class="container">
  <header class="block__header">
    <h2>Host On The Cloud To Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, nulla.
    </p>
  </header>
  <article class="block">
    <div class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="Images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy To Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          adipisci officia dicta inventore illum similique reiciendis deserunt,
          iure asperiores at.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          srcset="Images/easy@1x.webp 1x, Images/easy@2x.webp 2x"
          type="image/webp" />
        <source
          srcset="Images/easy@1x.jpg 1x, Images/easy@2x.jpg 2x"
          type="image/jpg" />
        <img class="feature__image" src="Images/easy@1x.jpg" alt=""
      /></picture>
    </div>
    <div class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="Images/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy To Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          adipisci officia dicta inventore illum similique reiciendis deserunt,
          iure asperiores at.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          srcset="Images/fast@1x.webp 1x, Images/fast@2x.webp 2x"
          type="image/webp" />
        <source
          srcset="Images/fast@1x.jpg 1x, Images/fast@2x.jpg 2x"
          type="image/jpg" />
        <img class="feature__image" src="Images/fast@1x.jpg" alt=""
      /></picture>
    </div>
    <div class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="Images/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy To Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          adipisci officia dicta inventore illum similique reiciendis deserunt,
          iure asperiores at.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          srcset="Images/wordpress@1x.webp 1x, Images/wordpress@2x.webp 2x"
          type="image/webp" />
        <source
          srcset="Images/wordpress@1x.jpg 1x, Images/wordpress@2x.jpg 2x"
          type="image/jpg" />
        <img class="feature__image" src="Images/wordpress@1x.jpg" alt=""
      /></picture>
    </div>
  </article>
</section>
