<section class="block-footer block block--dark">
  <div class="footer block block--dark">
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">PRODUCTS</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">Wordpress Hosting</li>
          <li class="list__item">Free automated Wordpress</li>
          <li class="list__item">Migrations</li>
          <li class="list__item">domain Names</li>
          <li class="list__item">Mothly Web Hosting</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">COMPANY</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">About</li>
          <li class="list__item">Affiliates</li>
          <li class="list__item">Blogs</li>
          <li class="list__item">Careers</li>
          <li class="list__item">Community</li>
          <li class="list__item">News</li>
          <li class="list__item">Green Hosting</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">SUPPORT</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">Contact</li>
          <li class="list__item">Knowledge Base</li>
          <li class="list__item">Forums</li>
          <li class="list__item">System Status</li>
          <li class="list__item">Web Hosting</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">SUPPORT</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">Domain Checker</li>
          <li class="list__item">Domain Transfer</li>
          <li class="list__item">Free Domain</li>
          <li class="list__item">XYZ Domain</li>
          <li class="list__item">Cheap SSL Certificate</li>
        </ul>
      </div>
    </div>
    <script src="main.js"></script>
  </div>
  <div class="footer__image">
    <img src="Images/logo.png" alt="" />
    <p>Copyright&copy;Ekramul Islam</p>
  </div>
</section>
