<section class="block">
  <header class="block__header">
    <h2>What Are Our Customers Saying?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, cumque?
    </p>
  </header>
  <div class="container">
    <div class="card">
      <div class="grid grid--1x2 testimonial">
        <div class="testimonial__image">
          <img src="Images/testimonial.jpg" alt=" A smiling face" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white">
              <use xlink:href="Images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <div class="testimonial__quote">
          <blockquote quote class="quote">
            <p class="quote__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
              suscipit illo consectetur! Nam vero ut eum aliquid laudantium
              rerum velit eveniet obcaecati quam vel laboriosam quod eligendi
              non reiciendis distinctio, similique, cum odit earum repellat
              repellendus nesciunt amet id perspiciatis saepe. Magnam possimus
              quo minima ipsam ratione, autem eum velit.
            </p>
            <footer>
              <div class="media">
                <div class="media__image">
                  <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title quote__author">Ekramul Islam</h3>
                  <p class="quote__organization">ABC Company</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
